* {
    font-size: 15px;
    font-family: sans-serif;
}

.header {
    margin-top: 15px;
    margin-bottom: 15px;
}

.welcomeMessage {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.typeCheck {
    font-size: 18px;
}

/**** common styles ****/

.formElementContainer {
    display: block;
}

.formInput {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    font-weight: bold;
    color: white;
    background-color: black;
    border: 0px solid white;
    margin-bottom: 10px;
    padding: 5px;
}

.formInputLabel {
    padding-left: 10px;
}

.spacerDiv {
    background-color: lavender;
}

.formsContainerDiv {
    background-color: white;
}

.resultsContainerDiv {
    margin-top: 10px;
    padding: 10px;
    border: 5px solid black;
    width: 350px;
}

/*** all resulting hashtags ***/
.makeModelInputResults, .locationInputResults, .finalCarBonusHashtagsResults, spacerDiv {
    font-size: 26px;
}

/**** nostalgia.obscura ****/

.makeModelInputResults {
    background-color: lightpink;
}

.locationInputResults {
    background-color: rgb(174, 221, 174);
}

.finalCarBonusHashtagsResults {
    background-color: lightyellow;
}